.cart-container {
  background-color: #ffe0b3;
  padding: 2rem 16px;
  min-height: 100vh;
  position: sticky;
  top: 80px;
}
.cart-container h2 {
  margin-top: 0;
  text-align: center;
}

.btn {
  width: 90%;
  height: 40px;
  border: none;
  text-decoration: none;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-clear {
  background-color: rgb(246, 6, 6);
}
.btn-orange {
  background-color: orange;
}
.btn .icon {
  width: 24px;
  margin-left: 5px;
}
